table{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px black;
    border-collapse:collapse
    }

h2{
    text-align: center;
}

h3{
    text-align: center;
}


@media only screen and (max-width: 887px) {
    table{
        width: 95%;
    }

}

td {
    border: 1px solid black;
  }

.death{
    background-color:darkcyan;
    content: "D";
}

.live{
    background-color: yellowgreen;
}


p{
    text-align: justify;
}

#btn-container{
    padding: 1vw;
    text-align: center;
}

body{
    padding: 1vw;
}

.pattern{
    text-align: center;
    background-color: burlywood;
    margin: 2%;
    padding: 2%;
    border-radius: 1em;
}

#start-btn{
    background-color: greenyellow;
}

#clean-btn{
    background-color: gold;
}